/**
 * Structure
 */
body{
  color: #fff;
  background-color: #222;
}
.container{
  width: 100%;
}
.wrap{
  max-width: 800px;
  margin: 0px auto;
}

/**
 * Elements
 */
.lat-box{
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.site-title{
  padding-top: 22px;
  margin-top: 0;
}
.dates{
  margin-bottom: 30px;
}

.dates,
.result{ 
  display: none /* initial value */
}

.result {
  margin-bottom: 40px;
  background: rgba(0,0,0,.5);
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 20px rgba(0,0,0, .3);
}

.help{
  font-size: 26px;
  color: yellow;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1.5em;
}

.background{
  background-position: 0 0;
  background-size: cover;
}

.drawing{
  width: 320px;
  height: auto;
}

.lat-value{
  border: 0;
  border-bottom: 6px solid #fff;
  padding: .5em;
  margin: .5em;
  color: #fff;
  background: transparent;
  text-align: center;
}
.lat-value:focus{
  background-color: rgba(0,0,0,.5);
  border-color: yellow;
}

.window{
  position: absolute;
  display: block;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  background-color: #fafafa;
  top: 0;
  color: #333;
  display: none;
}
.win-close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 25px;
  color: #666;
  cursor: pointer; 
}
.win-close:hover{
  color: #000;
} 
.win-content{
  padding: 40px;
}
.win-content p{
  max-width: 800px;  
  margin: 0  auto 1em auto;  
  text-align: justify;
}
.win-content h2,
.win-content h3{
  text-align: center;
}
.win-content object{
  margin: 20px auto 40px auto;
  display: block;
}
.navigation{
  position: absolute;
  top: 0;
  display: table;
  width: calc(100% - 40px);
  text-align: right;
  margin: 0;
  padding: 20px 20px 0px 20px;
}
.navigation ul{
  margin: 0;
  padding: 0;
  display: table-cell;
}
.nav-left{
  text-align: left;
}
.nav-right{
  text-align: right;
} 
.nav-button{
  display: inline-block;
  color: rgba(255,255,255,.4);
  margin: 0px;
  list-style: none;
  padding: 0;
  cursor: pointer; 
}
.nav-button a{
  color: rgba(255,255,255,.4);
}
.nav-button:hover,
.nav-button a:hover{
  color: #fff;
}

/**
 * Text
 */
.text-center{
  text-align: center;
}
.text-title{
  text-transform: uppercase;
}
.draw-title {
  text-transform: uppercase;
  font-size: 22px;
  border-bottom: 6px solid #fff;
  padding: 20px;
  margin: 0;
}
.draw-result {
    padding: 0;
    margin: 0;
}
.draw-result li {
    padding: 20px;
    border-bottom: 2px solid #fff;
    list-style: none;
    font-size: 20px;
}

/**
 * Butons
 */
.button{
  padding: .5em 1em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 10px;
}
.button.black{
  border: 6px solid #000;
}
.button.black:hover{
  background-color: #000;
  color: #fff;
}
.button.white{
  border: 6px solid #fff;
}
.button.white:hover,
.button.white.button-active{
  background-color: #fff;
  color: #000;
}

/**
 * Column classes
 */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}

@media only screen and (max-width: 480px) {
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0px;
		width: 100%;
  }

  .site-title{
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 799px) {
	.result .one-half{
		margin: 0 0 20px 0;
		width: 100%;
  }

}
